<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @research_participant.name %>
</p>

<%= link_to 'Edit', edit_research_participant_path(@research_participant) %> |
<%= link_to 'Back', research_participants_path %>
