<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @research_method.name %>
</p>

<%= link_to 'Edit', edit_research_method_path(@research_method) %> |
<%= link_to 'Back', research_methods_path %>
